body {
	background-image:url('http://res.cloudinary.com/ursularodgers/image/upload/v1496963835/weather_2_pjeusm.jpg');
	background-repeat:no-repeat;
	background-position:center top;
	background-attachment:fixed;	
	background-size:cover;
	height:100%;
  }

.container {
	position:relative;
	top:40px;
	width:90%;
	height:80%;
  margin: 0 0 50px 0;
  background:rgba(255,255,255,0.7);
  border-radius:10px;
}

h1{
	position:relative;
	top:20px;
}

#currentDate {
	font-size:1.2em;
	position:relative;
	top:20px;
}

#fahrenheit {
	color:grey;
}

#celsius, #fahrenheit {
	cursor:default;
}


#currentWind, #currentHumidity {
	font-size:0.6em;
}

#forecast {
	margin-left:30px;
	margin-right:30px;
}

.lowTemp{
	color:grey;
}

#credit {
	font-style:italic;
}
@media (min-width: 100px) {
	
#currentTemp, #celsius, #divider, #fahrenheit  {
	font-size:3em;
	position:relative;
	top:10px;
}

#currentWeather {
	height:150px;
	width:225px;
	position:relative;
	top:20px;
	opacity:0.9;
}

#description {
	font-style:italic;
	position:relative;
	top:-5px;
	
}
#otherIcons {
	font-size:1.6em;
	position:relative;
	top:-15px;
	
}
.day {
	font-size:1.5em;
	position:relative;
	top:10px;
}
.weather {
	height:120px;
	width:180px;
	opacity:0.7;
	position:relative;
	right:20px;
	top:-10px;
}

.temp {
	font-size:1.5em;
	position:relative;
	top:-10px;
}
}

@media (min-width: 580px) {
	
#currentTemp, #celsius, #divider, #fahrenheit {
	font-size:3.5em;
	position:relative;
	top:-150px;
	left:90px;
}
#currentWeather {
	height:180px;
	width:270px;
	position:relative;
	top:20px;
	right:150px;
	opacity:0.9;
}
#maxMin {
	position:relative;
	top:-165px;
	left:87px;
}

#description {
	font-style:italic;
	position:relative;
	top:-170px;
	left:87px;
}
#otherIcons {
	font-size:1.6em;
	position:relative;
	top:-180px;
	left:87px;
}	
.day {
	font-size:1.5em;
	position:relative;
	top:-80px;
}
.weather {
	height:120px;
	width:180px;
	opacity:0.7;
	position:relative;
	right:20px;
	top:-90px;
}
.temp {
	font-size:1.5em;
	position:relative;
	top:-80px;
}

}
